@font-face {
  font-family: 'SulSansLight';
  src: url('./fonts/SulSans-Light.woff2') format('woff2'),
    url('./fonts/SulSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SulSans';
  src: url('./fonts/SulSans-Medium.woff2') format('woff2'),
    url('./fonts/SulSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SulSans';
  src: url('./fonts/SulSans-Regular.woff2') format('woff2'),
    url('./fonts/SulSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SulSans';
  src: url('./fonts/SulSans-Bold.woff2') format('woff2'),
    url('./fonts/SulSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SulSans';
  src: url('./fonts/SulSans-BoldItalic.woff2') format('woff2'),
    url('./fonts/SulSans-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'SulSans', Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
